affine==2.3.0
anyio==3.3.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==4.1.0
branca==0.4.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
contextvars==2.4
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.4
distro==1.6.0
entrypoints==0.3
et-xmlfile==1.1.0
Fiona==1.8.20
folium==0.12.1
geographiclib==1.52
geojson==2.5.0
geopandas==0.9.0
geopy==2.2.0
glcontext==2.3.4
idna==3.2
immutables==0.16
importlib-metadata==4.7.1
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.1
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.10.2
jupyterlab==3.1.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.7.2
jupyterlab-widgets==1.0.0
keplergl==0.2.1
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
moderngl==5.6.4
multiprocess==0.70.12.2
munch==2.5.0
nbclassic==0.3.1
nbclient==0.5.4
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.3
numpy==1.19.5
openpyxl==3.0.9
osmnx==1.0.1
overpass==0.7
overpy==0.6
packaging==21.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
prettymaps @ git+https://github.com/marceloprates/prettymaps.git@3014f9d6d9881b28105f10784098a89af8b68eb5
prometheus-client==0.11.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pycparser==2.20
PyCRS==1.0.2
Pygments==2.10.0
pyparsing==2.4.7
pyproj==3.0.1
pyrsistent==0.18.0
PySide2==5.15.2
python-dateutil==2.8.2
pytz==2021.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.10.0
rasterio==1.2.6
requests==2.26.0
requests-unixsocket==0.2.0
rioxarray==0.3.1
Rtree==0.9.7
scipy==1.5.4
Send2Trash==1.8.0
Shapely==1.7.1
shiboken2==5.15.2
six==1.16.0
sniffio==1.2.0
snuggs==1.4.7
soupsieve==2.2.1
svgelements==1.4.7
svgwrite==1.4.1
tabula-py==2.3.0
tabulate==0.8.9
terminado==0.11.1
testpath==0.5.0
toml==0.10.2
tornado==6.1
traitlets==4.3.3
traittypes==0.2.1
typing-extensions==3.10.0.0
urllib3==1.26.6
vpype==1.5.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
widgetsnbextension==3.5.1
xarray==0.16.2
zipp==3.5.0
